<!DOCTYPE html>
<html>
<head>
	<title>MtLayout</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "mt_layout/application", media: "all" %>
	<%= javascript_include_tag "mt_layout/application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
