<!DOCTYPE html>
<html>
<head>
	<title>MtLayout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Android theme color if user uses chrome and does not merge all tabs -->
	<meta name="theme-color" content="#34495e">
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "mt_layout/application", media: "all" %>
	<%= javascript_include_tag "mt_layout/application" %>
	<%= csrf_meta_tags %>
</head>
<body id="sidemenu-layout" class="sidemenu-visible-md">
		<div id="sidemenu">
			<a class="sidemenu-brand bottom-10">
				<i class="fa fa-rocket fa-fw right-10"></i>
				Brand
			</a>
			<%= render '/layouts/mt_layout/shared/sidemenu/sidenav' %>
			<div class="sidemenu-footer">
				Created by 
				<a href="http://multiplier.io/?utm_source=mt_layout&amp;utm_medium=link&amp;utm_term=mt_layout&amp;utm_content=link" target="_blank">Multiplier Technologies</a> <br/>
				2014 &copy;
			</div>
		</div>
		<div id="main-container">
			<%= render '/layouts/mt_layout/shared/sidemenu/topnav' %>
			<div class="container-fluid">
				<%= yield %>
			</div>
		</div>		
</body>
</html>
