<!DOCTYPE html>
<html>
<head>
	<title>MtLayout</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "mt_layout/application", media: "all" %>
	<%= javascript_include_tag "mt_layout/application" %>
	<%= csrf_meta_tags %>
</head>
<body class="topmenu-layout">
	<%= render '/layouts/mt_layout/shared/topmenu/topnav' %>
	<%= yield(:subnav) %>

	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
