// This file determines how the sidemenu will work

$sidemenu-background-color: #34495e;


@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,400");
body#sidemenu-layout{
	background-color: $sidemenu-background-color;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;

	b{
		font-weight: 600;
	}
}


// sidemenu default if screen is smaller than md
#sidemenu-layout{
	// sidemenu default settings
	#sidemenu{
		// float: left;
		width: 200px;
		position: absolute;
		overflow-x: hidden;
		z-index: -1;
	}

	// // if sidemenu is hidden by user
	// #sidemenu.sidemenu-hidden{
	// 	z-index: -1;
	// }

	#main-container{
		background-color: #eaedf1;
		min-height: 100vh;
		min-width: 320px;
		padding-bottom: 200px;
		transition: margin-left 0.2s;
	    -webkit-transition: margin-left 0.2s;
	    -moz-transition: margin-left 0.2s;
	
	    #sidemenu-layout-content-container{
	    	padding-top: 70px;
	    }
	}

	// change sidemenu-toggle-btn
	#sidemenu-toggle-btn{
		.fa-bars{
			display: block;
		}
		.fa-arrow-left{
			display: none;
		}
	}
}



// sidemenu if screen is md or higher
@media screen and (min-width:992px){
	#sidemenu-layout.sidemenu-visible-md{

		#main-container{
			margin-left: 200px;
		}

		#sidemenu{
			-webkit-transition-delay: 0.2s;
			-moz-transition-delay: 0.2s;
			transition-delay: 0.2s;
			z-index: 0;
		}

		// if sidemenu is hidden by user
		#sidemenu.sidemenu-hidden{
			z-index: -1;
		}

		// change sidemenu-toggle-btn
		#sidemenu-toggle-btn{
			.fa-bars{
				display: none;
			}
			.fa-arrow-left{
				// -webkit-transition-delay: 2.2s;
				// -moz-transition-delay: 2.2s;
				// transition-delay: 2.2s;
				// transition: display 1s linear 2s;
				display: inline-block;
			}
		}
	}
}


// sidemenu if screen is sm or lower
@media screen and (min-width:0px){
	#sidemenu-layout.sidemenu-visible-xs{

		#main-container{
			margin-left: 200px;
		}

		#sidemenu{
			-webkit-transition-delay: 0.2s;
			-moz-transition-delay: 0.2s;
			transition-delay: 0.2s;
			z-index: 0;
		}

		// if sidemenu is hidden by user
		#sidemenu.sidemenu-hidden{
			z-index: -1;
		}

		// change sidemenu-toggle-btn
		#sidemenu-toggle-btn{
			.fa-bars{
				display: none;
			}
			.fa-arrow-left{
				// -webkit-transition-delay: 2.2s;
				// -moz-transition-delay: 2.2s;
				// transition-delay: 2.2s;
				// transition: display 1s linear 2s;
				display: inline-block;
			}
		}
	}
}

.animation-fadeInRight {
	animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight;
	animation-duration: .75s;
	-webkit-animation-duration: .75s;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	visibility: visible!important;
}

@keyframes fadeInRight{
	0%{transform:translateX(-100%);opacity:0}
	100%{transform:translateX(0%);opacity:1}
}

@-webkit-keyframes fadeInRight{
	0%{-webkit-transform:translateX(-100%);opacity:0}
	100%{-webkit-transform:translateX(0%);opacity:1}
}

