// This file styles items inside the sidemenu

@import "mt_layout/core/variables";

$active-item-color: $primary-color;
$navbar-font-color: #acb5bf;
$navbar-font-hover-color: #eaedf1;
$navbar-font-active-color: #eaedf1;
$navbar-header-font-color: #eaedf1;
$navbar-footer-font-color: rgba(204, 207, 215, 1);

#sidemenu-layout{
	#sidemenu{
		.sidemenu-brand{
			display: block;
			height: 52px; /* height matches navbar including border */
			background-color: rgba(0,0,0,0.3);
			font-size: 18px;
			padding: 0 10px;
			line-height: 52px;
			color: #eaedf1;

			img{
				height: 52px;
			}
		}

		.sidemenu-brand:hover{
			text-decoration: none;
			background-color: $active-item-color;
		}

		.sidemenu-footer{
			margin-top: 60px;
			padding: 10px 5px;
			border-top: 1px solid rgba(0,0,0,0.2);
			font-size: 10px;
			color: $navbar-footer-font-color;
		
			a:hover{
				color: $active-item-color;
			}
		}

		ul.sidemenu-nav{
			list-style-type: none;
			padding: 0px;
			min-height: 50vh;
			a{
				display: block;
				color: $navbar-font-color;
				padding: 0 10px;
				min-height: 35px;
				line-height: 35px;
				font-size: 13px;

				i{
					font-weight: 400;
					margin-right: 8px;
				}

				.sidemenu-item-label{
					width: 140px;
					display: inline-block;
				}

				i.sidemenu-dropdown-icon{
					margin-right: 0;
					font-weight: 800;

					-webkit-transition-duration: 0.5s;
					-moz-transition-duration: 0.5s;
					transition-duration: 0.5s;
				}
			}

			a:hover{
				background-color: rgba(0,0,0,0.1);	
				color: $navbar-font-hover-color;		
				text-decoration: none;
			}

			div.sidemenu-image{
				width: 100%;
				height: 120px;
				overflow: hidden;
				background-size: cover;
				background-position: center center;
			}

			span.sidemenu-header{
				display: block;
				display: block;
				color: $navbar-header-font-color;
				padding: 0 10px;
				min-height: 40px;
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 20px;
				margin: 5px 0;
				font-size: 13px;
				text-transform: uppercase;
				border-top: 1px solid rgba(0,0,0,0.1);	
			}

			li.active{
				background-color: rgba(0,0,0,0.2);
				border-right: 4px solid $active-item-color;

				a{
					color: $navbar-font-active-color;
				}
			}

			li.dropdown-open{
				a.sidemenu-item-dropdown{
					color: $navbar-font-active-color;
					background-color: rgba(0,0,0,0.1);			
				}
				i.sidemenu-dropdown-icon{
					-webkit-transform : rotate(-90deg);
					-moz-transform : rotate(-90deg);
					-ms-transform : rotate(-90deg);
					transform: rotate(-90deg);
				}
				ul.sidemenu-subnav{
					display:block;
				}
			}
		}


		ul.sidemenu-subnav{
			list-style-type: none;
			padding: 0px;
			background-color: rgba(0,0,0,0.2);
			display: none;
			a{
				display: block;
				color: $navbar-font-color;
				padding-left: 15px;
				min-height: 30px;
				line-height: 30px;
				font-size: 12px;


				.sidemenu-subitem-label{
					width: 140px;
					display: inline-block;
				}
			}

			a:hover{
				background-color: rgba(0,0,0,0.3);
				color: $navbar-font-hover-color;		
				text-decoration: none;
			}

			li.active{
				background-color: rgba(0,0,0,0.2);
				border-right: 4px solid $active-item-color;
				
				a{
					color: $navbar-font-active-color;	
				}
			}
		}

		a{
			// we need to make position relative instead of static for ripple circle to work
			// ripple circle has position absolute. we cant get parent height if parent position is static
			position: relative;
		}
	}
}