// this file styles the topbar

@import "mt_layout/core/variables";

$navbar-title-color: $primary-color;
$breadcrumb-current-color: $primary-color;

#sidemenu-layout{
	a.navbar-brand{
		color: $navbar-title-color !important; 
	}

	.navbar-nav > li > a.image{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.navbar-nav > li > a.icon{
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 30px;
		font-size: 20px;
	}

	.navbar{
		border-radius: 0px;
		margin-bottom: 0px;
	}

	.breadcrumb-modern{
		padding: 7px 20px;
		margin-bottom: 20px;
		border-top: 1px solid #eaedf1;
		border-bottom: 1px solid #dbe1e8;
		font-size: 12px;
		background-color: #fff;
		border-radius: 0;

		li > a{
			color: #777777;
		}

		li {
			color: $breadcrumb-current-color;
		}
	}
}