// @import "mt_layout/core/variables";
@import "core/app";

.panel.panel-modern{
	border-radius: 0px;

	.panel-heading{
		background-color: #f9fafc;
		border-bottom: 1px solid #eaedf1;
		padding: 5px 15px;

		.panel-title{
			line-height: 30px;
		}
	}

	.panel-body{
		position: relative;
	}

	.panel-footer{
		background-color: #f9fafc;
		border-top: 1px solid #eaedf1;
		padding: 5px 15px;

		.panel-footer-text{
			line-height: 30px;
		}
	}
}

.modal-dialog.modal-modern{
	.modal-content{
		border-radius: 0px;
	}
}

.modal-dialog.modal-primary{
	.modal-header{
		background-color: $primary-color;
		color: #FFFFFF;
	}
}


.pagination.pagination-modern{
	> li{
		> a{
			color: $primary-color;
		}
	}
	> .active > a, .active > a:hover, > .active > a:focus, > .active > span, > .active > span:hover, > .active > span:focus {
		z-index: 2;
		color: white;
		background-color: $primary-color;
		border-color: $primary-color;
		cursor: default;
	}
}

// this is just for colour
.progress{
	border-radius: 2px;

	.progress-bar.progress-bar-primary{
		background-color: $primary-color;
	}
}

.progress.progress-modern{
	border-radius: 0px;
	box-shadow: none;
	height: 20px;
	background-color: white;
	border: 5px solid rgb(200,200,200);

	.progress-bar{
		height: 10px;
		box-shadow: none;
	}
}

.progress-modern-w-value{
	position: relative;
	.progress-value{
		background-color: $primary-color;
		position: absolute;
		margin-top: -7px;
		width: 50px;
		top: 0;
		height: 34px;
		color: white;
		font-size: 14px;
		line-height: 14px;
		padding: 10px 5px;
		text-align: center;
	}
	.progress.progress-modern{
		margin-left: 50px;
	}
}

// nav tabs
.nav-tabs.nav-tabs-modern{
	border-bottom: 1px solid #DDD;

	> li > a {
		border-radius: 0px;
	}
}

.file-dropzone-modern{
	text-align: center;
	transition: border-color .35s ease-out;
	border: 2px dashed #dae0e8;
	padding: 100px 0px;
}
.file-dropzone-modern:hover{
	border-color: #777;
}


div.card{

	&:hover{
		box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		-webkit-transform: scale(1.01);
		transform: scale(1.03);
	}

	width: 100%;
	margin-bottom: 20px;
	background-color: white;
	transition: box-shadow .35s ease, transform .35s ease;

	.cover-image{
		width: 100%;
		height: 150px;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		background-color: #585858;
		position: relative;
	}

	.body{
		padding: 5px 8px;
		height: 127px;
		overflow: hidden;
		font-size: 13px;
		line-height: 18px;
		position: relative;
		color: #585858;

		.heading{
			color: #333;
			font-weight: 700;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		
        .gradient-hide { 
			position: absolute; 
			bottom: 0; right: 0;
			width: 30%; 
			text-align: center; 
			margin: 0; padding: 9px 0; 
			
	        background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	        background-image: -ms-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1));
	        background-image: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1));
	        background-image: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1));
	        background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
		}
	}

	.footer{
		margin-top: 5px;
		border-top: 1px solid #eaedf1;
		padding: 5px 8px;
		font-size: 0.9em;
		color: #333;
	}
}



div.tile{
	display: block;
	background-color: #59AAD5;
	border-radius: 2px;
	color: #FFF;
	margin-bottom: 10px;

	.tile-header{
		background-color: rgba(255,255,255,0.1);
		
		.tile-heading{
			margin: 0px;
			padding: 8px 10px;
			// font-size: 12px;
		}
	}

	.tile-body{
		padding: 12px;
		font-size: 25px;

		.fa{
			color: rgba(#FFF, 0.9);
		}
	}
}

div.tile.tile-primary{
	background-color: $primary-color;

	.tile-header{
		background-color: lighten($primary-color, 10%);
	}
}