// on canvas stuff
.on-canvas{
	display: none;
	
	.on-canvas-overlay{
		z-index: 1040;
		outline: 0px none;
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: rgba(0,0,0,0.5);
	}

	.on-canvas-menu{
		display: none;
		position: fixed;
		width: 80vw;
		max-width: 320px;
		top: 0px;
		left: 0px;
		height: 100vh;
		z-index: 1050;
		overflow: auto;
		background-color: #FFF;
	}
}
