// @import "mt_layout/core/variables";
@import "core/app";

.form-modern{
	.form-control{
		border-radius: 1px;
		font-size: 13px;
	}

	h5.form-section-label{
		color: darken( $primary-color, 10% );
		line-height: 35px;
		border-bottom: 1px solid #ebeef2;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.95em;
		margin-bottom: 20px;
	}
}

.table-responsive {
	overflow-x: auto;
}

.fa-file-image-o.colorize{
	color: #2ECC71;
}

.fa-file-video-o.colorize{
	color: #8e44ad;
}

.fa-file-audio-o.colorize{
	color: #2574A9;
}

.fa-file-pdf-o.colorize{
	color: rgb(254,2,22);
}

.fa-file-excel-o.colorize{
	color: rgb(6,98,34);
}

.fa-file-powerpoint-o.colorize{
	color: rgb(212,69,0);
}

.fa-file-word-o.colorize{
	color: rgb(3,0,128);
}

.fa-file-text-o.colorize{
	color: #6C7A89;
}

.fa-file-o.colorize{
	color: #6C7A89;
}

.img-circle.img-circle-modern{
	padding: 8px;
	border: 4px solid $primary-color;
}