<% content_for :page_title do %>
	<a class="navbar-brand" href="javascript:void(0)">Productivity</a>
<% end %>

<% content_for :subnav_section do %>
    <ol class="breadcrumb breadcrumb-modern">
		<li><a href="#">Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
	</ol>
<% end %>

<div class="row">
<div class="col-md-12">
	<div class="panel panel-modern">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="col-sm-8">
					<div class="text-right">
						<a href="javascript:void(0)" class="btn btn-default btn-sm">Edit item</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<p>One thousand years ago, superstition and the sword ruled. It was a time of darkness. It was a world of fear. It was the age of gargoyles. Stone by day, warriors by night, we were betrayed by the humans we had sworn to protect, frozen in stone by a magic spell for a thousand years. Now, here in Manhattan, the spell is broken, and we live again! We are defenders of the night! We are Gargoyles!</p>

			<p>Enter at your peril, past the vaulted door. Impossible things will happen that the world's never seen before. In Dexter's laboratory lives the smartest boy you've ever seen, but Dee Dee blows his experiments to Smithereens! There's gloom and doom when things go boom in Dexter's lab!</p>

			<p>Hey you guys! We're gonna turn it on, we're gonna bring you the power! We're gonna light the dark of night like the brightest day in a whole new way! We're gonna turn it on, we're gonna bring you the power! We're gonna tell you the truest words that you heard anybody say! Moving out in a new way, moving out in a new way! We're gonna turn it on, we're gonna bring you the power! It's coming down the lines, strong as they can be, through the courtesy of the Electric Company, the Electric Company!</p>

			<p>Overture, curtains, lights. This is it, the night of nights. No more rehearsing and nursing a part, we know every part by heart! Overture, curtains, lights. This is it, you'll hit the heights. And oh, what heights we'll hit. On with the show this is it. Tonight what heights we'll hit, on with the show this is it!</p>
		</div>
		<div class="panel-footer">
			<div class="panel-footer-text">Panel footer</div>
		</div>
	</div>

	<div class="panel panel-modern">
		<div class="panel-heading">
			<h3 class="panel-title">New item</h3>
		</div>
		<form role="form" class="form-modern">
			<div class="panel-body">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
			</div>
			<div class="panel-footer text-right">
				<button type="submit" class="btn btn-default btn-sm">Submit</button>
				<a class="btn btn-sm btn-warning">Cancel</a>
			</div>
		</form>
	</div>

	<div class="panel panel-modern">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="panel-title">Items</h3>
				</div>
				<div class="col-sm-8">
					<div class="text-right">
						<a href="javascript:void(0)" class="btn btn-default btn-sm">New item</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Entry Header 1</th>
							<th>Entry Header 2</th>
							<th>Entry Header 3</th>
							<th>Entry Header 4</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Entry First Line 1</td>
							<td>Entry First Line 2</td>
							<td>Entry First Line 3</td>
							<td>Entry First Line 4</td>
						</tr>
						<tr>
							<td>Entry Line 1</td>
							<td>Entry Line 2</td>
							<td>Entry Line 3</td>
							<td>Entry Line 4</td>
						</tr>
						<tr>
							<td>Entry Last Line 1</td>
							<td>Entry Last Line 2</td>
							<td>Entry Last Line 3</td>
							<td>Entry Last Line 4</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
