<% content_for :subnav do %>
	<nav class="navbar navbar-subnav">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnavbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	      </button>
	      <ol class="breadcrumb navbar-subnav-breadcrumb visible-xs-block">
			  <li><a href="#" class="left-15">Collections</a></li>
		  </ol>
	      <ol class="breadcrumb navbar-subnav-breadcrumb hidden-xs">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Library</a></li>
			  <li><a href="#">Home</a></li>
			  <li><a href="#">Library</a></li>
			  <li><a href="#">Data</a></li>
		  </ol>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="subnavbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a>Print</a></li>
	        <li><a><i class="fa fa-print fa-fw"></i></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>



<div class="row">
<div class="col-md-12">
	<div class="panel panel-modern">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="col-sm-8">
					<div class="text-right">
						<a href="javascript:void(0)" class="btn btn-default btn-sm">Edit item</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<p>One thousand years ago, superstition and the sword ruled. It was a time of darkness. It was a world of fear. It was the age of gargoyles. Stone by day, warriors by night, we were betrayed by the humans we had sworn to protect, frozen in stone by a magic spell for a thousand years. Now, here in Manhattan, the spell is broken, and we live again! We are defenders of the night! We are Gargoyles!</p>

			<p>Enter at your peril, past the vaulted door. Impossible things will happen that the world's never seen before. In Dexter's laboratory lives the smartest boy you've ever seen, but Dee Dee blows his experiments to Smithereens! There's gloom and doom when things go boom in Dexter's lab!</p>

			<p>Hey you guys! We're gonna turn it on, we're gonna bring you the power! We're gonna light the dark of night like the brightest day in a whole new way! We're gonna turn it on, we're gonna bring you the power! We're gonna tell you the truest words that you heard anybody say! Moving out in a new way, moving out in a new way! We're gonna turn it on, we're gonna bring you the power! It's coming down the lines, strong as they can be, through the courtesy of the Electric Company, the Electric Company!</p>

			<p>Overture, curtains, lights. This is it, the night of nights. No more rehearsing and nursing a part, we know every part by heart! Overture, curtains, lights. This is it, you'll hit the heights. And oh, what heights we'll hit. On with the show this is it. Tonight what heights we'll hit, on with the show this is it!</p>
		</div>
		<div class="panel-footer">
			<div class="panel-footer-text">Panel footer</div>
		</div>
	</div>

	<div class="panel panel-modern">
		<div class="panel-heading">
			<h3 class="panel-title">New item</h3>
		</div>
		<form role="form" class="form-modern">
			<div class="panel-body">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
			</div>
			<div class="panel-footer text-right">
				<button type="submit" class="btn btn-default btn-sm">Submit</button>
				<a class="btn btn-sm btn-warning">Cancel</a>
			</div>
		</form>
	</div>

	<div class="panel panel-modern">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="panel-title">Items</h3>
				</div>
				<div class="col-sm-8">
					<div class="text-right">
						<a href="javascript:void(0)" class="btn btn-default btn-sm">New item</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Entry Header 1</th>
							<th>Entry Header 2</th>
							<th>Entry Header 3</th>
							<th>Entry Header 4</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Entry First Line 1</td>
							<td>Entry First Line 2</td>
							<td>Entry First Line 3</td>
							<td>Entry First Line 4</td>
						</tr>
						<tr>
							<td>Entry Line 1</td>
							<td>Entry Line 2</td>
							<td>Entry Line 3</td>
							<td>Entry Line 4</td>
						</tr>
						<tr>
							<td>Entry Last Line 1</td>
							<td>Entry Last Line 2</td>
							<td>Entry Last Line 3</td>
							<td>Entry Last Line 4</td>
						</tr>
					</tbody>
				</table>
			</div>

				<nav>
				  <ul class="pagination pagination-modern">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-modern">
				<div class="panel-heading">
					<h3 class="panel-title">File dropzone</h3>
				</div>
				<div class="panel-body">
					<div class="file-dropzone-modern">
						<p>Drop files here to upload<br/>or<br/>
						<a href="javascript:void(0)" class="btn btn-default btn-sm" id="select-file-button">Select files</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div class="cover-image" style="background-image: url('http://lorempixel.com/300/<%= 300 + rand(10) %>/nature');">
				</div>
				<div class="body">
					<div class="gradient-hide"></div>
					<div class="heading">Build a Website from Scratch with HTML & CSS</div>
					Compilers for statically typed languages rely on type information to generate efficient machine code. In a dynamically typed programming language such as JavaScript, the types of expressions may vary at runtime.
				</div>
				<div class="footer">
					<div class="row">
						<div class="col-sm-6">
						<i class="fa fa-clock-o fa-fw"></i> <%= rand 90 %> Minutes <br/>
						<i class="fa fa-eye fa-fw"></i> <%= rand 999 %> Views
						</div>
						<div class="col-sm-6 text-sm-right">
							FREE
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-modern">
				<div class="panel-heading">
					<h3 class="panel-title">Progress bar</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							60%
						</div>
					</div>


					<div class="progress-modern-w-value up-20">
						<div class="progress-value">65%</div>
						<div class="progress progress-modern">
						  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
						  </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>




</div>
</div>
