<ul class="sidemenu-nav">
	<!-- Example of an active link -->
	<li class="active"><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-home fa-fw"></i>Home</a></li>
	<!-- Example of an normal link -->
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-tachometer fa-fw"></i>Dashboard</a></li>
	<!-- Example of a normal dropdown -->
	<li class="dropdown-close">
		<a class="sidemenu-item-dropdown" href="#">
			<%= render 'mt_layout/shared/ripple_circle' %>
			<i class="fa fa-line-chart fa-fw"></i>
			<span class="sidemenu-item-label">Stats</span>
			<i class="fa fa-angle-left sidemenu-dropdown-icon"></i>
		</a>
		<ul class="sidemenu-subnav">
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Beef</a></li>
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Chicken</a></li>
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Pork</a></li>
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Fish</a></li>
		</ul>
	</li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-tachometer fa-fw"></i>Dashboard</a></li>
	<li><span class="sidemenu-header">Productivity</span></li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-line-chart fa-fw"></i>Stats</a></li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-tachometer fa-fw"></i>Ripple</a></li>
	<!-- Example of an active dropdown -->
	<li class="dropdown-open">
		<a class="sidemenu-item-dropdown" href="#">
			<%= render 'mt_layout/shared/ripple_circle' %>
			<i class="fa fa-line-chart fa-fw"></i>
			<span class="sidemenu-item-label">Stats</span>
			<i class="fa fa-angle-left sidemenu-dropdown-icon"></i>
		</a>
		<ul class="sidemenu-subnav">
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Beef</a></li>
			<li class="active"><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Chicken</a></li>
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Pork</a></li>
			<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %>Fish</a></li>
		</ul>
	</li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-tachometer fa-fw"></i>Dashboard</a></li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-line-chart fa-fw"></i>Stats</a></li>
	<li><span class="sidemenu-header">Employees</span></li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-tachometer fa-fw"></i>Dashboard</a></li>
	<li><a href="#"><%= render 'mt_layout/shared/ripple_circle' %><i class="fa fa-line-chart fa-fw"></i>Stats</a></li>
</ul>
