<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="sidemenu-toggle-btn" href="javascript:void(0)">
        <i class="fa fa-bars fa-fw animation-fadeInRight" style="margin-top:3px"></i>
        <i class="fa fa-arrow-left fa-fw animation-fadeInRight"></i>
      </a>
      <!-- Link of current page -->
      <%= yield(:page_title) %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- Example of icon link -->
        <li><a href="#" class="icon"><i class="fa fa-cogs"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle image" data-toggle="dropdown" role="button" aria-expanded="false">
            <%# current_user.decorate.gravatar_top_nav %>
            <img src="http://www.gravatar.com/avatar/0000000012412412414000000000?d=identicon&s=34"> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Notification</a></li>
            <li><a href="#">Tasks</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield(:subnav_section) %>