@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,400");
body.topmenu-layout{
	background-color: #eaedf1;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;

	b{
		font-weight: 600;
	}
}
