@import "core/app";
$navbar-subnav-theme-color: #59AAD5 !default;
$navbar-theme-color: $navbar-subnav-theme-color;
$navbar-background-color: $navbar-theme-color;
$navbar-active-background-color: darken($navbar-background-color, 5%);
$navbar-font-color: rgba(#FFF,0.8);
$navbar-active-font-color: #FFF;

body.topmenu-layout{
	.navbar-subnav{
		background-color: $navbar-background-color;
		border-radius: 0;
		margin-bottom: 20px;
		border: none;
		z-index: 1;
		min-height: 40px;
		// font-family: Arial, sans-serif;

		a{
			// font-weight: 300;
			color: $navbar-font-color;
			font-size: 14px;

			i{
				font-size: 18px;
			}
		}

		.navbar-brand{
			font-size: 18px;
			height: 40px;
			padding: 10px 15px;
		}

		a.navbar-brand{
			color: rgba($navbar-font-color,1);
		}

		.nav > li > a:hover, .nav > li > a:focus {
		    text-decoration: none;
		    background-color: $navbar-active-background-color;
		}

		.navbar-nav > li > a{
			border-left: 1px solid rgba(255,255,255,0.4);
			padding-top: 10px;
			padding-bottom: 10px;
		}

		@media screen and (max-width:768px){
			.navbar-nav > li > a{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}


		.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
		    /* Navbar active */
		    background-color: darken($navbar-active-background-color, 10%);
		    color: $navbar-active-font-color;
		}

		.open > a, .nav .open > a:hover, .nav .open > a:focus {
			/* Navbar dropdown open */
		    background-color: $navbar-active-background-color;
		}

		.dropdown-menu {
		    background-color: $navbar-background-color;
		    border: none;
		    border-radius: 0px;
		}

		.dropdown-menu > li > a{
		    color: $navbar-font-color;
		    font-weight: 300;
		    font-size: 13px;
		}

		.dropdown-menu > li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		    text-decoration: none;
		    background-color: $navbar-active-background-color;
		}

		.navbar-toggle {
		    border: none;
		    border-radius: 0px;
		    padding: 4px 10px;
		}

		.navbar-toggle .icon-bar {
		    background-color: $navbar-font-color;
		}

		.breadcrumb{
			padding: 0px;
			padding-right: 15px;
			font-size: 14px;
			line-height: 40px;

			background-color: transparent;
			border-radius: 0;
			margin-bottom: 0px;
			height: 40px;

			li > a{
				color: rgba($navbar-font-color,1);;
			}

			li {
				color: rgba($navbar-font-color,1);;
			}

			li + li:before {
			    // content: "\3E";
			    color: $navbar-font-color;
			}
		}
	}
}