// @import "mt_layout/core/variables";

$navbar-theme-color: rgb(41,66,88);
$navbar-background-color: $navbar-theme-color;
$navbar-active-background-color: darken($navbar-background-color, 5%);
$navbar-font-color: rgb(220,220,220);
$navbar-active-font-color: #FFF;

body.topmenu-layout{
	.navbar-topnav{
		background-color: $navbar-background-color;
		border-radius: 0;
		margin-bottom: 0;
		border: none;
		z-index: 10;
		min-height: 50px;
		// font-family: Arial, sans-serif;


		a{
			font-weight: 300;
			color: $navbar-font-color;
		}

		.navbar-brand{
			padding: 15px 15px;
		}

		a.navbar-brand{
			color: $navbar-font-color;
		}

		.nav > li > a:hover, .nav > li > a:focus {
		    text-decoration: none;
		    background-color: $navbar-active-background-color;
		}

		.navbar-nav > li > a{
			padding-top: 15px;
			padding-bottom: 15px;
		}

		@media screen and (max-width:768px){
			.navbar-nav > li > a{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}


		.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
		    /* Navbar active */
		    background-color: $navbar-active-background-color;
		    color: $navbar-active-font-color;
		}

		.open > a, .nav .open > a:hover, .nav .open > a:focus {
			/* Navbar dropdown open */
		    background-color: $navbar-active-background-color;
		}

		.dropdown-menu {
		    background-color: $navbar-background-color;
		    border: none;
		    border-radius: 0px;
		}

		.dropdown-menu > li > a{
		    color: $navbar-font-color;
		    font-weight: 300;
		    font-size: 13px;
		}

		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		    text-decoration: none;
		    background-color: $navbar-active-background-color;
		}

		.navbar-toggle {
		    border-color: #FFF;
		    border-radius: 0px;
		}

		.navbar-toggle .icon-bar {
		    background-color: $navbar-font-color;
		}
	}
}
